<div class="modal fade tree">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{modalOptions.title}}</h4>
            </div>
            <div class="modal-body">
                <div ng-if="loading">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        Loading ...
                    </div>
                </div>
                <treecontrol
                    class="tree-classic"
                    tree-model="treeData"
                    options="treeOptions"
                    selected-node="selectedNode"
                    expanded-nodes="expandedNodes"
                    on-selection="onSelected(node)"
                    on-node-toggle="onToggled(node, expanded)">
                    {{node.name | limitTo : 25}}
                </treecontrol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
                <button type="button" class="btn btn-success" ng-disabled="modalOptions.saveBtn.disabled" ng-click="success({node: selectedNode})">
                {{modalOptions.saveBtn.text}}
                </button>
            </div>
        </div>
    </div>
</div>