<div class="home">
    <demo config="demo.config" on-skip="demo.skip()" on-finish="demo.finish()"></demo>
    <div ng-if="today_events.length > 0">
        <div class="page-header" >
            <h1>Today</h1>
        </div>
        <ul class="list-group">
            <a ng-href="#files/{{event.file_id}}" class="list-group-item" ng-repeat="event in today_events">
                <span>{{event.transfer_name || event.file_name | limitTo : 40}}</span>
                <small>({{event.transfer_size || event.file_size | bytes : 1}})</small>
                <small>
                    <i class="fa fa-clock-o"></i>
                    {{event.created_at | between}}
                </small>
                <small ng-if="event.sharing_user_name">
                    <i class="fa fa-user"></i>
                    {{event.sharing_user_name | limitTo : 10}}
                </small>
            </a>
        </ul>
    </div>
    <div ng-if="week_events.length > 0">
        <div class="page-header">
            <h1>This Week</h1>
        </div>
        <ul class="list-group">
            <a ng-href="#files/{{event.file_id}}" class="list-group-item" ng-repeat="event in week_events">
                <span>{{event.transfer_name || event.file_name | limitTo : 40}}</span>
                <small>({{event.transfer_size || event.file_size | bytes : 1}})</small>
                <small>
                    <i class="fa fa-clock-o"></i>
                    {{event.created_at | between}}
                </small>
                <small ng-if="event.sharing_user_name">
                    <i class="fa fa-user"></i>
                    {{event.sharing_user_name | limitTo : 10}}
                </small>
            </a>
        </ul>
    </div>
    <div ng-if="month_events.length > 0">
        <div class="page-header">
            <h1>Last Month</h1>
        </div>
        <ul class="list-group">
            <a ng-href="#files/{{event.file_id}}" class="list-group-item" ng-repeat="event in month_events">
                <span>{{event.transfer_name || event.file_name | limitTo : 40}}</span>
                <small>({{event.transfer_size || event.file_size | bytes : 1}})</small>
                <small>
                    <i class="fa fa-clock-o"></i>
                    {{event.created_at | between}}
                </small>
                <small ng-if="event.sharing_user_name">
                    <i class="fa fa-user"></i>
                    {{event.sharing_user_name | limitTo : 10}}
                </small>
            </a>
        </ul>
    </div>
</div>