<div class="home">
    <div class="page-header" ng-if="today_events.length > 0">
        <h1>Today</h1>
    </div>
    <ul class="list-group">
        <a ng-href="#files/{{event.file_id}}" class="list-group-item" ng-repeat="event in today_events">
            <span>{{event.transfer_name || event.file_name | limitTo : 40}}</span>
            <small>({{event.transfer_size || event.file_size | bytes : 1}})</small>
            <small>
                <span class="glyphicon glyphicon-time"></span>
                {{event.created_at | between}}
            </small>
            <small ng-if="event.sharing_user_name">
                <span class="glyphicon glyphicon-user"></span>
                {{event.sharing_user_name | limitTo : 10}}
            </small>
        </a>
    </ul>
    <div class="page-header" ng-if="week_events.length > 0">
        <h1>This Week</h1>
    </div>
    <ul class="list-group">
        <a ng-href="#files/{{event.file_id}}" class="list-group-item" ng-repeat="event in week_events">
            <span>{{event.transfer_name || event.file_name | limitTo : 40}}</span>
            <small>({{event.transfer_size || event.file_size | bytes : 1}})</small>
            <small>
                <span class="glyphicon glyphicon-time"></span>
                {{event.created_at | between}}
            </small>
            <small ng-if="event.sharing_user_name">
                <span class="glyphicon glyphicon-user"></span>
                {{event.sharing_user_name | limitTo : 10}}
            </small>
        </a>
    </ul>
    <div class="page-header" ng-if="month_events.length > 0">
        <h1>Last Month</h1>
    </div>
    <ul class="list-group">
        <a ng-href="#files/{{event.file_id}}" class="list-group-item" ng-repeat="event in month_events">
            <span>{{event.transfer_name || event.file_name | limitTo : 40}}</span>
            <small>({{event.transfer_size || event.file_size | bytes : 1}})</small>
            <small>
                <span class="glyphicon glyphicon-time"></span>
                {{event.created_at | between}}
            </small>
            <small ng-if="event.sharing_user_name">
                <span class="glyphicon glyphicon-user"></span>
                {{event.sharing_user_name | limitTo : 10}}
            </small>
        </a>
    </ul>
</div>