<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/bower.min.css" />
        <link rel="stylesheet" type="text/css" href="css/index.min.css" />
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body ng-app="putioApp" ng-csp>
        <div ng-controller="putioController" class="container-fluid">
            <div class="row navigation">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="btn btn-default navbar-btn" ng-click="menu_toggle()">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" ng-click="reload()">{{title | capitalize}}</a>
                        </div>
                        <info></info>
                    </div>
                </nav>
            </div>
            <div class="row content" ng-view ></div>
        </div>

        <menu></menu>

        <div class="modal fade" id="error_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        <p>Something went wrong!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <news></news>

        <script type="text/javascript" src="js/index-bower.min.js"></script>
        <script type="text/javascript" src="js/index.min.js"></script>
    </body>
</html>