@import "all";

.info demo {
    float: right;
    margin: 10px 5px;
}

.info .progress {
    float: right;
    width: 40%;
    height: 30px;
    margin: 10px 5px;
    background-color: darken(@white, 5%);
}

.info .progress-bar-value {
    position: absolute;
    right: 35px;
    top: 12px;
    color: @black;
    font-size: 18px;
    @font-weight();
}