@import "all";
.library .reset {
    position: absolute;
    right: 10px;
}

.library .reset:hover .show-on-hover {
    display: inline-block;
}

.library .reset .show-on-hover {
    display: none;
}

.library .reset:hover .fa-refresh {
    display: none;
}

.library .reset .fa-refresh {
    display: inline-block;
}

.library img {
    border-radius: 20px;
    width: 170px;
    height: 240px;
}

.library .poster-fail {
    width: 170px;
    height: 240px;
}

.library .poster-fail i {
    font-size: 10em;
    position: relative;
    top: 20px;
    left: 30px;
}

.library .movie {
    float: left;
    margin: 10px;
    position: relative;
}

.library .show {
    float: left;
    margin: 10px;
    position: relative;
}

.library .show .info select {
    width: 90%;
    margin-left: 5%;
}

.library .info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: lighten(@black, 20%);
    background-color: @black;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 20px;
    font-size: 300%;
}

.library .info h4 {
    color: @yellow;
    @font-weight();
}

.library .info .fa-play-circle-o {
    @pointer();
    color: @yellow;
    position: absolute;
    top: 75px;
    left: 50px;
}

.library .movie:hover .info {
    opacity: 0.5;
}

.library .show:hover .info {
    opacity: 0.5;
}

#play_show .modal-body {
    min-height: 60px;
    max-height: 200px;
    overflow-y: scroll;
}