@import "all";
.home > div:nth-child(2) > .page-header h1 {
    margin-top: 0;
}

.home .page-header {
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 2px solid @yellow;
}

.home .page-header h1 {
    font-size: 30px
}

.home small {
    margin-left: 3px;
}

.home a.list-group-item {
    border: none;
    color: @black;
    @font-weight();
    border-radius: 4px;
}

.home a.list-group-item:focus, .home a.list-group-item:hover {
    background-color: @yellow;
}

.home .glyphicon-time, .home .glyphicon-user {
    margin-right: 2px;
}

.home .dropdown-menu strong {
    color: @yellow;
}

.home i.fa-video-camera {
    margin-right: 5px;
}

.home .yellow {
    color: @yellow;
}